.body {
    margin: 0;
}

.nav-name {
    color: whitesmoke;
    font-size: 30px;
}
.cup {
    height: 45px;
    width: 75px;
}

.navbar {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.233);
    background-color: rgb(241, 13, 100);
}
.nav-item {
    font-size: 20px;
}
.container-form {
    margin: 75px auto;
}
.order {
    display: flex;
    justify-content: center;
    margin: 30px auto 75px auto;
}
.btn-outline-primary {
    border-color: rgb(241, 13, 100) ! important ;
    color: rgb(241, 13, 100) ! important;
}
.btn-outline-primary:hover {
    background-color:rgb(241, 13, 100) ! important;
    color: whitesmoke ! important;
}
.btn-outline-primary:focus{
    box-shadow: 0 0 0 .2rem rgba(233, 55, 123, 0.541) !important;
}
.form-control:focus{
    box-shadow: 0 0 0 .2rem rgba(233, 55, 123, 0.541) !important;
    border-color: rgb(241, 13, 100) ! important ;
}
.icons {
    color:rgb(241, 13, 100) !important;
    font-size:24px !important;
    margin-right: 15px;
}
.footer {
    color: rgb(241, 13, 100);
    background-color: rgba(253, 200, 209, 0.808) ! important;
}
